/* DrinkList & MealList */
div.items-container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

    padding: 0 0.3rem;
}

div.items{
    display: flex;
    flex-direction: column;
    align-items:center;
}

p.best-flavour{
    font-size:xx-large;
    color: #d79a10;
}

#hmenu, #reservation, #hgallery{
    padding: 0 0.2rem;
}