/* Gallery */
div#hgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div#hgallery img {
  width: 50%;
}

div#hgallery div {
  width: 50%;
  border-radius: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#hmenu section {
  margin: 10px 0px;
  background-color: #fff0cc;

}
/* DrinkList & MealList */
div#hmenu section div.items-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 8vh 0;
  padding: 3vh;
  margin: 0 auto;
  box-sizing: border-box;
}

div#hmenu section div.items-container div.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebd49e;
  margin: 2vh;
  border-radius: 2.5vh;
  width: 450px;
  overflow: hidden;
}

div.items h5 {
  font-size: larger;
  margin: 0 1vh;
  padding: 1vh;
  height: 30px;
}

div#hmenu section div.items-container div.items img {
  height: 250px;
  width: 100%;
}

#hmenu,
#hreservation {
  padding: 0 0.3rem;
  margin: 2vh;

}

