img{
    max-width: 100%;
    width: 400px;
}
body{
    margin: 0;
}
/* Header */
header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #111;
    color:#fff;
    margin-bottom: 0.5rem solid red ;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    align-items: center;
}
nav p a{
    padding: 1rem;
    color: #fff;
}
