img{
    max-width: 100%;
    width: 400px;
}
body{
    margin: 0;
}

/* Header */
header{
    padding: 0 0.3rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #111;
    color:#fff;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    align-items: center;
}
nav p a{
    padding: 0.2rem;
    color: #fff;
}

/* Footer */
footer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color:#fff;
}
