:root {
    --light-bg: #f5f5f5;
    --light-text: #333;
    --dark-bg: #121212;
    --dark-text: #f5f5f5;
    --input-bg-light: #ffffff;
    --input-bg-dark: #333333;
    --input-border: #cccccc;
}

body {
    background-color: var(--light-bg);
    color: var(--light-text);
}

body[data-theme="dark"] {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-card {
    background: var(--input-bg-light);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    transition: background 0.3s ease;
}

body[data-theme="dark"] .login-card {
    background: var(--input-bg-dark);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

input {
    max-width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background: var(--input-bg-light);
    transition: background 0.3s ease, border-color 0.3s ease;
}
body[data-theme="dark"] input {
    color: var(--dark-text);
}

body[data-theme="dark"] input {
    background: var(--input-bg-dark);
    border-color: var(--input-border);
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--dark-bg);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #704312;
}

.signin {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.login header {
    display: flex;
    justify-content: space-between; /* Pushes the button to the right */
    align-items: center;
    padding: 1rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: inherit; /* Ensures the color matches the theme */
}

button:focus {
    outline: none; /* Removes focus outline for a cleaner look */
}

.header-right-login {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    font-size: small;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}
a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}
