div#menu div.type-container {
    border-radius: 0.7rem;
    margin: 1vh;
    margin-bottom: 5vh;
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff0cc;
    margin: 5vh;
}

div#menu div.type-container h3 {
    width: 100%;
    font-size: x-large;
}

div#menu div.type-container div {
    width: 300px;
    border: 0.5rem #ebd49e solid;
    border-radius: 2.5vh;
    margin: 0.7rem;
}
div#menu div.type-container div h4{
    background-color: #ebd49e;
    margin: 0;
    padding: 2vh;
    text-align: center;
    font-size: larger;
}
div#menu div.type-container div ul{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#menu div.type-container div ul li{
    list-style-type: none;
}