table td {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    border-bottom: 4px solid black;
    
}

table tr.header {
    margin-bottom: 4px;

}
table td{
    border-left: 1px solid black;
}
table td.sn{
    border: none;
}
table button{
    background-color: white;
    border: 2px solid black;
    margin: 3px;
    cursor: pointer;
}
table button.add{
    color: green;
}
table button.reduce{
    color: orange;
}
table button.delete{
    color: red;
}
form.reservation {
    margin: 0 auto;
    border: none;
}
div.addmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 0;
}

div#orderDashbord{
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column-reverse;
}
