/* Reservation and Oder pages */

/* RESERVATION */
form.reservation,
div#customer-orders {
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 80%;
    margin: 10vh auto;
    margin-bottom: 5vh;

    border: 0.5rem #d79a10 solid;
    border-radius: 1rem;
    padding: 20px;

    background-color: #d79a10;
    background-color: #fff;
}

form.reservation select,
form.reservation input {
    margin-left: 2rem;
    background-color: #ebd49e;
    padding: 5px;
    border-radius: 8px;


    margin-bottom: 5vh;
    margin-top: 1vh;
}

form.reservation label {
    border-top: 2px #ebd49e solid;
    font-size: large;
    padding: 5px;

}

form.reservation button {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ebd49e;
    font-weight: bold;
    font-size: large;
    border-radius: 1rem;
}

h1.h1-reservation {
    margin: 3vh auto
}

/* Order */
form.reservation p.p-order,
form.reservation p.p-order2,
div#customer-orders p.p-order,
div#customer-orders p.p-order2 {
    font-size: x-large;
}

form.reservation hr {
    color: black;
    background-color: black;
    height: 2px;
    width: 100%;
}

form.reservation p.p-order2 {
    text-align: right;
    width: 100%;
    font-weight: bold;
    margin: 3vh auto;
}

div#client-order div.order-container {
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

div#client-order div.order-container i {
    color: rgb(200, 0, 0);
}

