table {
    max-width: 80%;
    margin: 2vh auto;
}

table.dash,
.dash td,
.dash th {
    border: 1px solid black;
    padding: 5px;

}
table.dash{
    border: 4px solid black;
    padding: 10px;
}
table p{
    margin-left: 20px;
}
div#reservations{
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
